(
    symbol: "h",
    n_type: Activation,
    entries: {
        "Sigmoid":(
            inputs: 1,
            formul: "\\frac{1}{1+e^{-(#_0)}}",
            diff: Some("$_0(1-$_0)")
        ),
        "Clip":(
            inputs: 1,
            formul: "min(max(#_0,@_0),@_1)",
            diff: None
        )
    }
)