(
    symbol: "c",
    n_type: Base,
    entries: {
        "Const.bias": (
            symbol: Some("\\overline{B_#}")
        ),
        "Const.weight" :(
            symbol: Some("\\overline{W_#}")
        ),
        "Const.etc" :(
            symbol: Some("\\overline{E_#}")
        ),
        "Source" :(
            symbol: Some("\\overline{Input}")
        )
    }
)