(
    symbol: "f",
    n_type: Function,
    entries: {
        "Gemm": (
            inputs: 3,
            formul: "{#_0}\\cdot {#_1}+{#_2}",
            diff: Some("#"),
            symbol: None
        )
    }
)